html, body {
    height: 100%;
    overflow: hidden;
}
.chat-controls {
    /* position: absolute; bottom: 0; */
}
.chat-message {
    position: relative;
    margin-bottom: 10px;
}
.chat-message .chat-message-author  {
    position: absolute;
    bottom: -10px;
    font-size: 10px;
    color: gray;
}
.chat-author-not-me {
    left: 5px;
}
.chat-author-me {
    right: 5px;
}
.chat-container {
    overflow: hidden;
}
.chat-message-container {
    overflow: auto;
    height: 100%;
}
.chat-message-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    z-index: 999;
}
.chat-message-overlay #loading-screen {
    display: none;
}
.chat-message-overlay #error-screen {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }