html, body {
    height: 100%;
    overflow: hidden;
}
.chat-controls {
    /* position: absolute; bottom: 0; */
}
.chat-message {
    position: relative;
    margin-bottom: 10px;
}
.chat-message .chat-message-author  {
    position: absolute;
    bottom: -10px;
    font-size: 10px;
    color: gray;
}
.chat-author-not-me {
    left: 5px;
}
.chat-author-me {
    right: 5px;
}
.chat-message-container {
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }