html, body {
    height: 100%;
}
.chat-controls {
    position: absolute; bottom: 0;
}
.chat-message {
    position: relative;
    margin-bottom: 10px;
}
.chat-message .chat-message-author  {
    position: absolute;
    bottom: -10px;
    font-size: 10px;
    color: gray;
}
.chat-author-not-me {
    left: 5px;
}
.chat-author-me {
    right: 5px;
}